<!DOCTYPE html>
<html lang="en">
  <head>
    <stl:include file="@/include/header.html"> </stl:include>
    <link rel="stylesheet" href="/company-pro/css/response01.css" />
    <link rel="stylesheet" href="/company-pro/css/firstpage.css" />
    <link rel="stylesheet" href="/company-pro/css/cooperator.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.min.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.css" />
    <link rel="stylesheet" href="/company-pro/css/head.css" />
    <link rel="stylesheet" href="/company-pro/css/card.css" />
    <link rel="stylesheet" href="/company-pro/css/tech-channel.css" />
    <link rel="stylesheet" href="/company-pro/css/banner.css" />
    <!-- script -->
    <script src="/company-pro/js/swiper.min.js"></script>
    <script src="/company-pro/js/jquery-3.2.1.min.js"></script>
    <script src="/company-pro/js/swiper.js"></script>
    <script src="/company-pro/js/bootstrap.min.js"></script>
    <script src="/company-pro/js/head.js"></script>
    <title>数字冰雹</title>
  </head>
  <body>
    <!-- 头部组件+banner -->
    <section>
      <stl:include file="@/include/nav.html"> </stl:include>
    </section>
    <!-- banner -->
    <section>
      <stl:include file="@/include/banner-common.html"> </stl:include>
    </section>
    <!-- 技术优势 -->
    <section>
      <stl:include file="@/include/card.html"> </stl:include>
    </section>
    <!-- 主体内容 -->
    <section></section>
    <!-- form 表单 -->
    <section>
      <stl:include file="@/include/concat.html"> </stl:include>
    </section>
    <!-- footer尾部 -->
    <stl:include file="@/include/footer.html"> </stl:include>
  </body>
</html>
