<!DOCTYPE html>
<html lang="en">
  <head>
    <stl:include file="@/include/header.html"> </stl:include>
    <link rel="stylesheet" href="/company-pro/css/response01.css" />
    <link rel="stylesheet" href="/company-pro/css/firstpage.css" />
    <link rel="stylesheet" href="/company-pro/css/cooperator.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.min.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.css" />
    <link rel="stylesheet" href="/company-pro/css/head.css" />
    <link rel="stylesheet" href="/company-pro/css/card.css" />
    <link rel="stylesheet" href="/company-pro/css/tech-channel.css" />
    <link rel="stylesheet" href="/company-pro/css/banner.css" />
    <link rel="stylesheet" href="/company-pro/css/三维渲染引擎.css" />
    <!-- script -->
    <script src="/company-pro/js/swiper.min.js"></script>
    <script src="/company-pro/js/jquery-3.2.1.min.js"></script>
    <script src="/company-pro/js/swiper.js"></script>
    <script src="/company-pro/js/bootstrap.min.js"></script>
    <script src="/company-pro/js/head.js"></script>
    <title>数字冰雹</title>
  </head>
  <body>
    <!-- 头部组件+banner -->
    <section>
      <stl:include file="@/include/nav.html"> </stl:include>
    </section>
    <!-- banner -->
    <section>
      <stl:include file="@/include/banner-common.html"> </stl:include>
    </section>
    <!-- 技术优势 -->
    <section>
      <stl:include file="@/include/card.html"> </stl:include>
    </section>
    <!-- 主体内容 -->
    <section>
      <div id="Rendering">
        <div id="Rendering_title">
          <p>功能亮点</p>
          <img src="../img/technology/title_01.png" />
        </div>
        <div id="Rendering_content01">
          <div class="Rendering_contentimg">
            <img src="../img/technology/功能亮点06.png" alt="" />
          </div>
          <div class="Rendering_contentText">
            <p>三维态势地图</p>
            <p>
              三维态势地图的主体是标注大量空间数据的三维地图，支持集成三维地理信息、三维空间统计、三维空间分布、三位空间关系、建筑装备、电磁态势等信息综合显示，并可在周边叠加各种辅助统计图表。适用于关注大量立体空间（经度/纬度/高度）数据的决策领域。
            </p>
          </div>
        </div>
        <div id="Rendering_content02">
          <div class="Rendering_contentimg">
            <img src="../img/technology/功能亮点07.png" alt="" />
          </div>
          <div class="Rendering_contentText">
            <p class="Rendering_contentText_title">三维地理信息可视化</p>
            <div class="Rendering_contentText_box">
              <div class="Rendering_contentText_box01">
                <p>三维地理信息显示</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持政区图/地形图/卫星图等多种三维地图；支持WGS84、北京54等多种投影坐标系；支持经/纬/高坐标厘米级精度定位。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>全球地形地貌渲染</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持全球高程数据叠加，真实还原地形地貌，支持倾斜摄影数据叠加，实现超大规模地形渲染。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>地球环境效果渲染</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持高度逼真的天空/云层/光照等环境效果渲染、爆炸/火焰/尾迹等渲染特效。
                </p>
              </div>
            </div>
            <div class="Rendering_contentText_box">
              <div class="Rendering_contentText_box01">
                <p>空间辅助信息显示</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持姿态向量/晨昏线/经纬网格/比例尺等多种空间辅助信息；支持覆盖图层、叠加空间分析数据等信息。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>智能化全尺度渲染</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持从地面到太空连续渲染，可依据用户视野动态加载不同精度的模型数据，优化显示效率。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>内置众多计算模型</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  产品内置星历计算、能见度计算、扫描范围计算等多种仿真计算模型，可实现天体位置、电磁环境等效果模拟。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="Rendering_content03">
          <div class="Rendering_contentimg">
            <img src="../img/technology/功能亮点08.png" alt="" />
          </div>
          <div class="Rendering_contentText">
            <p class="Rendering_contentText_title">三维地理空间可视分析</p>
            <div class="Rendering_contentText_box">
              <div class="Rendering_contentText_box01">
                <p>三维地理</p>
                <p>空间统计可视化</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持单柱图、簇状柱图、堆积柱图、气泡图等多种三维地理空间统计图，以支撑三维地理空间下的数据统计分析。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>三维地理</p>
                <p>空间分布可视化</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持节点轨迹图、星光图、热图等多种三维地理空间分布图，实现固定/机动目标的位置/分布/轨迹等信息展现，支持三维地理空间下海量目标标定，支持叠加目标标牌和数据标签等信息。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>三维地理</p>
                <p>空间关系可视化</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  提供基于三维地理空间的链路图，对海量数据节点间的关联关系进行展现。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="Rendering_content04">
          <div class="Rendering_contentimg">
            <img src="../img/technology/功能亮点09.png" alt="" />
          </div>
          <div class="Rendering_contentText">
            <p class="Rendering_contentText_title">装备建筑可视化</p>
            <div class="Rendering_contentText_box">
              <div class="Rendering_contentText_box01">
                <p>精密细节显示</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  高度还原装备/建筑的外形、材质、纹理细节、复杂机械结构，支持实时高逼真细节效果渲染。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>全面数据驱动</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持接入实时/历史数据、真实/模拟数据，动态驱动模型姿态及动作。
                </p>
              </div>
            </div>
            <div class="Rendering_contentText_box">
              <div class="Rendering_contentText_box01">
                <p>复杂动作支持</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持装备可动结构及动作展现，逼真刻画装备运动细节，真实再现装备的运转过程及工作原理。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>多级细节优化（LOD）</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持依据用户视野动态加载不同精度的模型数据，优化显示效率，确保大范围、超精细场景流畅展现。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="Rendering_content05">
          <div class="Rendering_contentimg">
            <img src="../img/technology/功能亮点10.png" alt="" />
          </div>
          <div class="Rendering_contentText">
            <p class="Rendering_contentText_title">电磁环境可视化</p>
            <div class="Rendering_contentText_box">
              <div class="Rendering_contentText_box01">
                <p>传感器工作状态可视化</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  支持单柱图、簇状柱图、堆积柱图、气泡图等多种三维地理空间统计图，以支撑三维地理空间下的数据统计分析。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>电磁场信号强度体渲染</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  原生支持体渲染技术，内置多种仿真计算模型，可提供电磁场信号强度的动态呈现，实现大规模电磁信息场数据的可视仿真及分析。
                </p>
              </div>
              <div class="Rendering_contentText_box01">
                <p>通讯/指控关系可视化</p>
                <img src="../img/technology/title_02.png" />
                <p>
                  提供连线/条带/动画等多种可视化方式，实现各类传感器通讯关系、指挥控制关系的动态显示。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- form 表单 -->
    <section>
      <stl:include file="@/include/concat.html"> </stl:include>
    </section>
    <!-- footer尾部 -->
    <stl:include file="@/include/footer.html"> </stl:include>
  </body>
</html>
