<!DOCTYPE html>
<html lang="en">
  <head>
    <stl:include file="@/include/header.html"> </stl:include>
    <link rel="stylesheet" href="/company-pro/css/response01.css" />
    <link rel="stylesheet" href="/company-pro/css/firstpage.css" />
    <link rel="stylesheet" href="/company-pro/css/cooperator.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.min.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.css" />
    <link rel="stylesheet" href="/company-pro/css/head.css" />
    <link rel="stylesheet" href="/company-pro/css/card.css" />
    <link rel="stylesheet" href="/company-pro/css/banner.css" />
    <link rel="stylesheet" href="/company-pro/css/可视化编辑器.css" />
    <!-- script -->
    <script src="/company-pro/js/swiper.min.js"></script>
    <script src="/company-pro/js/jquery-3.2.1.min.js"></script>
    <script src="/company-pro/js/swiper.js"></script>
    <script src="/company-pro/js/bootstrap.min.js"></script>
    <script src="/company-pro/js/head.js"></script>
    <title>数字冰雹</title>
  </head>
  <body>
    <!-- 头部组件+banner -->
    <section>
      <stl:include file="@/include/nav.html"> </stl:include>
    </section>
    <!-- banner -->
    <section>
      <stl:include file="@/include/banner-common.html"> </stl:include>
    </section>
    <!-- 技术优势 -->
    <section>
      <stl:include file="@/include/card.html"> </stl:include>
    </section>
    <!-- 主体内容 -->
    <section>
      <div id="editor">
        <div id="editor_title">
          <p>编辑器介绍</p>
          <img src="../img/technology/title_01.png" />
        </div>
        <div id="editor_content01">
          <div class="editor_contentText">
            <p>可视应用编辑</p>
            <p>
              支持对可视化应用进行定义和配置，产品具备丰富的可视化基础页面库、强大的可视化对象集成能力、便捷的可视化页面配置功能，可以集成可视组件、空间对象、基础地图等多个配置文件，实现可视化系统的快速构建。
            </p>
          </div>
          <div class="editor_contentimg">
            <img src="../img/technology/编辑器01.png" alt="" />
          </div>
        </div>
        <div id="editor_content02">
          <div class="editor_contentimg">
            <img src="../img/technology/编辑器02.png" alt="" />
          </div>
          <div class="editor_contentText">
            <p>可视组件编辑</p>
            <p>
              支持对可视化组件进行定义和配置（可视化组件是指构成可视化页面的各种图表和图层，如统计图、分布图、关系图等）。产品集成组件配置工程管理、可视化组件编辑、多源数据接入、高效分析智能优化等多项功能，可快速生成可视化组件配置文件。
            </p>
          </div>
        </div>
        <div id="editor_content03">
          <div class="editor_contentText">
            <p>空间对象编辑</p>
            <p>
              支持对空间对象进行定义和配置(空间对象是在地理空间坐标系内，具备位置、姿态、外观、动作、关系等复杂属性的实体对象)。产品提供友好易用的配置环境、全面的空间对象类型支持、丰富的可定义对象属性，可实现多种复杂空间对象的高效定义和配置。
            </p>
          </div>
          <div class="editor_contentimg">
            <img src="../img/technology/编辑器03.png" alt="" />
          </div>
        </div>
        <div id="editor_content04">
          <div class="editor_contentimg">
            <img src="../img/technology/编辑器04.png" alt="" />
          </div>
          <div class="editor_contentText">
            <p>模型对象编辑</p>
            <p>
              支持对三维模型对象进行定义和配置，产品具备友好易用的配置环境，支持对三维模型对象的复杂结构、复杂动作、关节驱动、渲染效果、多级细节显示进行定义和配置，并生成支持数据驱动的专用三维模型文件。
            </p>
          </div>
        </div>
        <div id="editor_content05">
          <div class="editor_contentText">
            <p>地图风格编辑</p>
            <p>
              支持对二/三维地图风格进行定义和配置，产品具备友好易用的配置环境，支持丰富的地图效果配置、多源地信数据融合、多图层透明通道混合输出，可快速生成地图风格配置文件。
            </p>
          </div>
          <div class="editor_contentimg">
            <img src="../img/technology/编辑器05.png" alt="" />
          </div>
        </div>
        <div id="editor_content06">
          <div class="editor_contentimg">
            <img src="../img/technology/编辑器06.png" alt="" />
          </div>
          <div class="editor_contentText">
            <p>场景应用编辑</p>
            <p>
              支持创建可交互实时渲染三维场景应用，产品具备强大的场景对象集成能力、友好易用的配置环境、丰富的可定义对象属性、超凡的实时渲染效果，可快速生成效果出众的可交互实时渲染三维场景应用。
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- form 表单 -->
    <section>
      <stl:include file="@/include/concat.html"> </stl:include>
    </section>
    <!-- footer尾部 -->
    <stl:include file="@/include/footer.html"> </stl:include>
  </body>
</html>
