<!DOCTYPE html>
<html lang="en">
  <head>
    <stl:include file="/include/header.html"> </stl:include>
    <link rel="stylesheet" href="/company-pro/css/response01.css" />
    <link rel="stylesheet" href="/company-pro/css/firstpage.css" />
    <link rel="stylesheet" href="/company-pro/css/cooperator.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.min.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.css" />
    <link rel="stylesheet" href="/company-pro/css/head.css" />
    <link rel="stylesheet" href="/company-pro/css/card.css" />
    <link rel="stylesheet" href="/company-pro/css/tech-channel.css" />
    <link rel="stylesheet" href="/company-pro/css/banner.css" />
    <link rel="stylesheet" href="/company-pro/css/可视化运行平台.css" />
    <!-- script -->
    <script src="/company-pro/js/swiper.min.js"></script>
    <script src="/company-pro/js/jquery-3.2.1.min.js"></script>
    <script src="/company-pro/js/swiper.js"></script>
    <script src="/company-pro/js/bootstrap.min.js"></script>
    <script src="/company-pro/js/head.js"></script>
    <title>可视化运行平台</title>
  </head>
  <body>
    <!-- nav导航栏 -->
    <section>
      <stl:include file="@/include/nav.html"> </stl:include>
    </section>
    <!-- banner  -->
    <section>
      <stl:include file="@/include/banner-common.html"> </stl:include>
    </section>
    <section>
      <stl:include file="@/include/card.html"> </stl:include>
    </section>
    <div id="move">
      <div id="move_title">
        <p>功能亮点</p>
        <img src="/company-pro/img/technology/title_01.png" />
      </div>
      <div id="move_content01">
        <div class="move_contentimg">
          <img src="/company-pro/img/technology/功能亮点01.png" alt="" />
        </div>
        <div class="move_contentText">
          <p class="move_contentText_title">基础功能</p>
          <div class="move_contentText_box">
            <div class="move_contentText_box01">
              <p>集群协同渲染运算</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                可构建大数据可视化渲染机集群，支持多机协同输出、并行渲染，突破性能瓶颈。
              </p>
            </div>
            <div class="move_contentText_box01">
              <p>集群协同联动交互</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>支持集群消息同步、多节点操作指令联动。</p>
            </div>
            <div class="move_contentText_box01">
              <p>集成大屏矩阵控制</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                集成屏幕拼接设备控制，一键同时切换软件内容和大屏布局，大幅提升大屏系统易用性。
              </p>
            </div>
          </div>
          <div class="move_contentText_box">
            <div class="move_contentText_box01">
              <p>可视化应用管理中心</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                支持部署多个可视化应用，并通过控制中心管理，实现可视化应用的：部署、删除、更新；启动、关闭、切换操作。
              </p>
            </div>
            <div class="move_contentText_box01">
              <p>多种交互设备支持</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                支持台位、触控屏、电子沙盘、平板电脑等交互终端，为可视化应用提供友好易用的交互控制体验。
              </p>
            </div>
            <div class="move_contentText_box01">
              <p>强大的数据兼容性</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                兼容现行的各类数据源，如SQL
                Server、Oracle、MySQL、PostgreSQL、Hadoop以及仿真引擎等均可高效接入。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="move_content02">
        <div class="move_contentText">
          <div class="move_contentText_title">
            <p>空间数据可视化（二维态势地图）</p>
            <p>
              二维态势地图的主体是标注大量位置数据的二维地图，支持集成二维地理信息、二维空间统计图、二维空间分布图、二维空间关系图等信息综合显示，并可在四周叠加各种辅助统计图表。适用于关注大量位置（经度/纬度）数据的决策领域。
            </p>
          </div>
          <div class="move_contentText_box">
            <div class="move_contentText_box01">
              <p>二维地理信息显示</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>支持全球范围多种二维地图，如政区图/地形图/卫星图等。</p>
            </div>
            <div class="move_contentText_box01">
              <p>支持多种投影坐标系</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>支持WGS84、墨卡托、北京54、CGCS2000等多种投影坐标系。</p>
            </div>
          </div>
          <div class="move_contentText_box">
            <div class="move_contentText_box01">
              <p>经/纬坐标厘米级精度定位</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>支持经/纬坐标厘米级精度定位，实现各类地图要素数据叠加显示。</p>
            </div>
            <div class="move_contentText_box01">
              <p>地理专用信息显示</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                支持晨昏线、经纬网格、比例尺、指北针等多种二维地理专用信息。
              </p>
            </div>
          </div>
          <div class="move_contentText_box">
            <div class="move_contentText_box01">
              <p>辅助标识显示</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                支持通讯指挥关系/航迹/星下点/弹着点/威力范围等辅助标识显示。
              </p>
            </div>
            <div class="move_contentText_box01">
              <p>标绘</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>提供点/向量/线/圆/扇形/多边形多种专业标绘支持。</p>
            </div>
          </div>
          <div class="move_contentText_box">
            <div class="move_contentText_box01">
              <p>附加数据图层</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                支持叠加显示多种基于二维地信显示数据统计图层，如热图/气泡图/饼图/柱图/星光图…
              </p>
            </div>
            <div class="move_contentText_box01">
              <p>多样化的地图风格</p>
              <img src="/company-pro/img/technology/title_02.png" />
              <p>
                数十种地图配色方案/深浅风格，多种色系，适应各种系统、不同场景。
              </p>
            </div>
          </div>
        </div>
        <div class="move_contentimg">
          <div class="move_contentimg_box">
            <img src="/company-pro/img/technology/地图.png" alt="" />
          </div>
          <div class="move_contentimg_box">
            <img src="/company-pro/img/technology/位图.png" alt="" />
          </div>
        </div>
      </div>
      <div id="move_content03">
        <div class="move_contentimg">
          <img src="/company-pro/img/technology/功能亮点03.png" alt="" />
        </div>
        <div class="move_contentText">
          <p class="move_contentText_title">数据驾驶舱</p>
          <p>
            数据驾驶舱支持集成统计图、仪表盘、统计表、分布图、关系图等多个数据图表，组合成一个页面进行综合显示，适用于需要并列监测多类数据的决策领域。
          </p>
          <div class="move_contentText_box">
            <div>
              <p>基础统计图：</p>
              <p>地图统计图：</p>
              <p>仪表盘：</p>
              <p>表格：</p>
              <p>分布图：</p>
              <p>关系图：</p>
            </div>
            <div>
              <p>柱图 / 条图 / 线图 / 面积图 / 饼图 / 环图 / 雷达图 等。</p>
              <p>柱图 / 条图 / 环图 / 气泡图 等。</p>
              <p>半圆仪表盘 / 圆形仪表盘 / 数字仪表盘 等。</p>
              <p>统计表 / 属性表 等。</p>
              <p>散点图/多维雷达图等。</p>
              <p>提供环形弦图/桑基图/热点图/拓扑图/标靶图等。</p>
            </div>
          </div>
        </div>
      </div>
      <div id="move_content04">
        <div class="move_contentText">
          <p>监控视频矩阵</p>
          <p>
            监控视频矩阵的主体是阵列排布的摄像头回传视频，可深度集成各种视频监控系统，支持在二/三维态势地图上标注摄像头对象，并关联其视频信号源，用户可以通过在地图上点击、圈选等多种交互方式，调取相应监控视频。
          </p>
        </div>
        <div class="move_contentimg">
          <img src="/company-pro/img/technology/功能亮点04.png" alt="" />
        </div>
      </div>
      <div id="move_content05">
        <div class="move_contentimg">
          <img src="/company-pro/img/technology/功能亮点05.png" alt="" />
        </div>
        <div class="move_contentText">
          <p>图文介绍</p>
          <p>
            图文介绍是根据特定内容的展示需求，单独设计制作的，以文字、图像、动画等形式进行展现的静态页面。
          </p>
        </div>
      </div>
    </div>
    <!-- 联系我们 -->
    <section>
      <stl:include file="@include/concat.html"> </stl:include>
    </section>
    <!-- 尾部 -->
    <section>
      <stl:include file="@/include/footer.html"> </stl:include>
    </section>
  </body>
</html>
