<!DOCTYPE html>
<html lang="en">
  <head>
    <stl:include file="/include/header.html"> </stl:include>
    <link rel="stylesheet" href="/company-pro/css/response01.css" />
    <link rel="stylesheet" href="/company-pro/css/firstpage.css" />
    <link rel="stylesheet" href="/company-pro/css/cooperator.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.min.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.css" />
    <link rel="stylesheet" href="/company-pro/css/head.css" />
    <link rel="stylesheet" href="/company-pro/css/card.css" />
    <link rel="stylesheet" href="/company-pro/css/tech-channel.css" />
    <link rel="stylesheet" href="/company-pro/css/banner.css" />
    <link rel="stylesheet" href="/company-pro/css/基础功能.css" />
    <link rel="stylesheet" href="/company-pro/css/产品平台.css" />
    <link rel="stylesheet" href="/company-pro/css/产品优势.css" />
    <link rel="stylesheet" href="/company-pro/css/相关案例.css" />
    <link rel="stylesheet" href="/company-pro/css/智慧城市.css" />
    <!-- script -->
    <script src="/company-pro/js/swiper.min.js"></script>
    <script src="/company-pro/js/jquery-3.2.1.min.js"></script>
    <script src="/company-pro/js/swiper.js"></script>
    <script src="/company-pro/js/bootstrap.min.js"></script>
    <script src="/company-pro/js/head.js"></script>
    <title>数字冰雹</title>
  </head>
  <body>
    <!-- nav导航栏 -->
    <section>
      <stl:include file="@/include/nav.html"> </stl:include>
    </section>
    <!-- banner  -->
    <section>
      <stl:include file="@/include/banner-common.html"> </stl:include>
    </section>
    <!-- 产品优势 -->
    <section>
      <stl:include file="@/include/product-privilege.html"> </stl:include>
    </section>
    <!-- 主题 -->
    <section>
      <div id="cityWisdom_theme">
        <div class="cityWisdom_title">
          <p>业务主题</p>
          <img src="../img/technology/title_01.png" />
        </div>
        <div class="cityWisdom_content06">
          <div class="cityWisdom_contentText">
            <img src="../img/product/文本01.png" alt="" />
            <div>
              <p class="title">基础设施监测</p>
              <div>
                <div>
                  <p class="tit">电力设备运维监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持通过三维建模，对电网各类设备设施进行三维仿真显示，对设备运行状态进行实时监控，辅助管理者直观掌握设备运行状态。
                  </p>
                </div>
                <div>
                  <p class="tit">线路运维监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对输配电线路的地理分布、起止点、电能流向、运行状态、异常状态等信息进行动态监测，有效提高线路运维效率及供电可靠性。
                  </p>
                </div>
                <div>
                  <p class="tit">电网运行监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持从地理空间分布维度和逻辑层级结构维度，对大规模电网的分布、节点位置、供电范围、拓扑关系等信息进行综合展示。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题10.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content02">
          <div class="cityWisdom_contentText">
            <div>
              <p class="title">电力工程监控</p>
              <p class="text">
                基于地理信息系统，全面展示电力基建工程项目的分布、工程概况、工程进度等信息；并可对现场施工安全、进度、质量等进行实时监测，辅助管理部门提升对工程安全和工程进度的监测监管力度。
              </p>
            </div>
            <img src="../img/product/文本01.png" alt="" />
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题11.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content01">
          <div class="cityWisdom_contentText">
            <img src="../img/product/文本01.png" alt="" />
            <div>
              <p class="title">智能巡检监测</p>
              <p class="text">
                支持结合视频智能分析、智能定位、智能研判技术，对故障点位、安全隐患点位等情况进行可视化监测，实现异常事件的实时告警、快速显示，并可智能化调取异常点位周边监控视频，有效提高电网巡检工作效率。
              </p>
            </div>
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题12.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content04">
          <div class="cityWisdom_contentText">
            <div>
              <p class="title">重点用户保障</p>
              <div>
                <div>
                  <p class="tit">保障对象可视化</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对重点保障对象环境建筑进行三维显示，对保电范围、保电等级、实时运行态势等信息进行综合监测。
                  </p>
                </div>
                <div>
                  <p class="tit">保电资源监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对保障人员、物资、车辆、设备等资源进行监测和可视化管理，支持详细信息查询，提升监管力度。
                  </p>
                </div>
              </div>
              <div>
                <div>
                  <p class="tit">输配电状态监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对变电站所、配电设备、配网等要素进行监测，对异常情况进行告警，提升输配电监测力度。
                  </p>
                </div>
                <div>
                  <p class="tit">用电负荷监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对电网各节点用电负荷进行监测，对异常情况进行告警，对用电趋势进行分析预测。
                  </p>
                </div>
              </div>
            </div>
            <img src="../img/product/文本01.png" alt="" />
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题13.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content01">
          <div class="cityWisdom_contentText">
            <img src="../img/product/文本01.png" alt="" />
            <div>
              <p class="title">运检作业监测</p>
              <p class="text">
                支持整合气象、生态环境、节能减排等信息资源，对城市生态文件建设态势进行实时监测与可视分析，为管理者解决突出环境问题提供科学的决策依据，增强生态保护力度。
              </p>
            </div>
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题14.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content02">
          <div class="cityWisdom_contentText">
            <div>
              <p class="title">充电桩运维监测</p>
              <p class="text">
                支持基于栅格化，直观展示辖区充电桩的数量、地理分布、类型等信息，支持点选查询具体充电桩的详细信息，并对充电桩电流、电压、输出电量、收益、故障告警等信息进行实时监测，辅助管理者全面了解地区充电桩建设情况，强化对充电桩状态的监测与感知。
              </p>
            </div>
            <img src="../img/product/文本01.png" alt="" />
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题15.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content06">
          <div class="cityWisdom_contentText">
            <img src="../img/product/文本01.png" alt="" />
            <div>
              <p class="title">电力数分析研判</p>
              <div>
                <div>
                  <p class="tit">电网运行可视分析</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对海量电网运行数据进行多维度分析研判，为电网优化调整提供科学决策依据。
                  </p>
                </div>
                <div>
                  <p class="tit">用户用电可视分析</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持基于栅格化，对各项用户用电数据进行多维度分析，支持历史追溯和态势预测，构建用户画像，全面反映用户用电特征。
                  </p>
                </div>
                <div>
                  <p class="tit">电力数据应用分析</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持结合居民住宅用电情况、区域人口密度等数据进行综合关联分析，直观反映该区域用电变化趋势。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题16.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- 产品功能 -->
    <section>
      <stl:include file="@/include/product-base.html"> </stl:include>
    </section>
    <!-- 产品平台 -->
    <section>
      <stl:include file="@/include/product-panel.html"> </stl:include>
    </section>
    <!-- 相关案例 -->
    <section>
      <stl:include file="@/include/product-case.html"> </stl:include>
    </section>
    <!-- 联系我们 -->
    <section>
      <stl:include file="@include/concat.html"> </stl:include>
    </section>
    <!-- 尾部 -->
    <section>
      <stl:include file="@/include/footer.html"> </stl:include>
    </section>
  </body>
</html>
