<!DOCTYPE html>
<html lang="en">
  <head>
    <stl:include file="/include/header.html"> </stl:include>
    <link rel="stylesheet" href="/company-pro/css/response01.css" />
    <link rel="stylesheet" href="/company-pro/css/firstpage.css" />
    <link rel="stylesheet" href="/company-pro/css/cooperator.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.min.css" />
    <link rel="stylesheet" href="/company-pro/css/swiper.css" />
    <link rel="stylesheet" href="/company-pro/css/head.css" />
    <link rel="stylesheet" href="/company-pro/css/card.css" />
    <link rel="stylesheet" href="/company-pro/css/tech-channel.css" />
    <link rel="stylesheet" href="/company-pro/css/banner.css" />
    <link rel="stylesheet" href="/company-pro/css/基础功能.css" />
    <link rel="stylesheet" href="/company-pro/css/产品平台.css" />
    <link rel="stylesheet" href="/company-pro/css/产品优势.css" />
    <link rel="stylesheet" href="/company-pro/css/相关案例.css" />
    <link rel="stylesheet" href="/company-pro/css/智慧城市.css" />

    <!-- script -->
    <script src="/company-pro/js/swiper.min.js"></script>
    <script src="/company-pro/js/jquery-3.2.1.min.js"></script>
    <script src="/company-pro/js/swiper.js"></script>
    <script src="/company-pro/js/bootstrap.min.js"></script>
    <script src="/company-pro/js/head.js"></script>
    <title>智慧城市</title>
  </head>

  <body>
    <!-- nav导航栏 -->
    <section>
      <stl:include file="@/include/nav.html"> </stl:include>
    </section>
    <!-- banner  -->
    <section>
      <stl:include file="@/include/banner-common.html"> </stl:include>
    </section>
    <!-- 产品优势 -->
    <section>
      <stl:include file="@/include/product-privilege.html"> </stl:include>
    </section>
    <!-- 主体内容 -->
    <section>
      <div id="cityWisdom_theme">
        <div class="cityWisdom_title">
          <p>业务主题</p>
          <img src="../img/technology/title_01.png" />
        </div>
        <div class="cityWisdom_content01">
          <div class="cityWisdom_contentText">
            <img src="../img/product/文本01.png" alt="" />
            <div>
              <p class="title">城市运行态势综合监测</p>
              <p class="text">
                高度融合政府各部门现有数据资源，对城市管理各领域的核心指标进行态势监测与可视分析，辅助管理者全面掌控城市运行态势，提升监管力度和行政效率，推动城市经济建设、政治建设、文化建设、社会建设、生态文明建设各方面相协调。
              </p>
            </div>
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题01.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content02">
          <div class="cityWisdom_contentText">
            <div>
              <p class="title">经济建设可视化</p>
              <p class="text">
                支持集成城市发改委、财政、审计、工商、统计等部门现有资源，将城市主要经济指标、产业结构、重点项目等数据进行监测分析，全方位体现城市产业经济运行态势，为城市经济发展规划、产业结构调整等提供决策依据。
              </p>
            </div>
            <img src="../img/product/文本01.png" alt="" />
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题02.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content01">
          <div class="cityWisdom_contentText">
            <img src="../img/product/文本01.png" alt="" />
            <div>
              <p class="title">政治建设可视化</p>
              <p class="text">
                支持对政府党建工作态势进行全面展示，包括党建工作体系、队伍建设成果、“两学一做”学习风采、党建活动等，充分展现社会主义核心价值观在党建工作中的践行情况，动态展现城市政治建设态势。
              </p>
            </div>
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题03.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content02">
          <div class="cityWisdom_contentText">
            <div>
              <p class="title">文化建设可视化</p>
              <p class="text">
                支持对城市历史、旅游资源、文化娱乐、友好城市等关键指标进行呈现，综合展示社会文化建设的成果与成效。支持对舆情态势进行实时监测告警和可视化分析，帮助管理部门掌握当前实时，提升对舆情的监测力度和响应效率。
              </p>
            </div>
            <img src="../img/product/文本01.png" alt="" />
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题04.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content01">
          <div class="cityWisdom_contentText">
            <img src="../img/product/文本01.png" alt="" />
            <div>
              <p class="title">生态文明可视化</p>
              <p class="text">
                支持整合气象、生态环境、节能减排等信息资源，对城市生态文件建设态势进行实时监测与可视分析，为管理者解决突出环境问题提供科学的决策依据，增强生态保护力度。
              </p>
            </div>
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题05.jpg" alt="" />
          </div>
        </div>
        <div class="cityWisdom_content03">
          <div class="cityWisdom_contentText">
            <div>
              <p class="title">经济建设可视化</p>
              <div>
                <div>
                  <p class="tit">城市管理监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持通过栅格化，对各城市部件的核心运行指标进行综合监测与可视分析，辅助管理者全面掌控城市运行态势。
                  </p>
                </div>
                <div>
                  <p class="tit">公共安全监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对城市公共安全各领域运行态势进行实时监测与可视分析，实现对城市人、车、地、事、物等要素的全面监测。
                  </p>
                </div>
                <div>
                  <p class="tit">交通管理监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对路况、警力、接处警情况、道路交通监控视频等要素进行综合监测，帮助管理者实时掌握交通运行态势。
                  </p>
                </div>
              </div>
              <div>
                <div>
                  <p class="tit">应急管理监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对应急管理重点监测对象的风险指标进行可视化研判分析，对应急资源进行监测，为城市应急管理提供有力支持。
                  </p>
                </div>
                <div>
                  <p class="tit">人居环境建设监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持基于栅格化对管辖区域内人口、文化、教育、医疗等的数据进行动态监测分析，辅助管理者全面掌握人居环境建设现状。
                  </p>
                </div>
                <div>
                  <p class="tit">政务服务监测</p>
                  <img src="../img/product/文本02.png" alt="" />
                  <p class="txt">
                    支持对政务服务各环节关键指标进行可视分析，支持政务办结全流程监测，为政务服务及流程优化提供决策支持。
                  </p>
                </div>
              </div>
            </div>
            <img src="../img/product/文本01.png" alt="" />
          </div>
          <div class="cityWisdom_contentimg">
            <img src="../img/product/主题06.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- 产品功能 -->
    <section>
      <stl:include file="@/include/product-base.html"> </stl:include>
    </section>
    <!-- 产品平台 -->
    <section>
      <stl:include file="@/include/product-panel.html"> </stl:include>
    </section>
    <!-- 相关案例 -->
    <section>
      <stl:include file="@/include/product-case.html"> </stl:include>
    </section>
    <!-- 联系我们 -->
    <section>
      <stl:include file="@include/concat.html"> </stl:include>
    </section>
    <!-- 尾部 -->
    <section>
      <stl:include file="@/include/footer.html"> </stl:include>
    </section>
  </body>
</html>
