@media (max-width: 768px) {
  .tr {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .tr {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .tr {
    text-align: left;
  }
}
@media (max-width: 1200px) {
  .tr {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .tr {
    text-align: right;
  }
}
