/* footer.css */
.footer {
  background: #24252a;
}
.footer .w-90 {
  width: 90%;
}
.footer .pd-0 {
  padding: 0;
}
.footer .pd-4 {
  padding: 0 4px;
}
.footer a {
  font-size: 14px;
  text-decoration: none;
  line-height: 35px;
  letter-spacing: 0px;
  color: #999999;
}
.footer a:hover {
  color: #666666;
}
.footer h3 {
  font-family: MicrosoftYaHei-Bold;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 17px;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer h4 a {
  font-family: MicrosoftYaHei-Bold;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 17px;
  letter-spacing: 0px;
  color: #ececec;
}
.footer .company-info,
.footer .company-record {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 14px;
  letter-spacing: 0px;
  color: #888888;
}
/* .footer .company-info {
  color: #888888;
}
.footer .company-record {
  color: #888888;
} */
.footer .list-item {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 35px;
  letter-spacing: 0px;
  color: #999999;
}
.hp-hr {
  border-color: #888888;
  padding: 0;
}
