@media (max-width: 768px) {
  /* 数据 */
  .fun-wrapper .li-relative {
    position: relative;
    display: flex;
    flex: column;
    width: 100%;
    height: 400px;
    margin-bottom: 1%;
  }
  .fun-wrapper .li-relative .li-img {
    /* position: absolute; */
    flex: 1;
    /* left: 0; */
    /* bottom: 0; */
    /* width: 75%; */
    width: 100%;
    border: 1px solid #fff;
  }
  .fun-wrapper .li-relative .li-content {
    /* position: absolute; */
    flex: 1;
    padding: 0 2%;
    width: 45%;
    /* height: 50%; */
    /* right: 0; */
    /* bottom: 1%; */
    /* border: 1px solid #000; */
    background-image: linear-gradient(0deg, #2f3144 0%, #2c2e42 100%),
      linear-gradient(#32354c, #32354c);
    background-blend-mode: normal, normal;
    text-align: left;
  }
  .tr {
    text-align: left;
  }
}
@media (max-width: 992px) {
  /* 数据 */
  .fun-wrapper .li-relative {
    position: relative;
    display: flex;
    flex: column;
    width: 100%;
    /* height: 524px; */
    margin-bottom: 1%;
  }
  .fun-wrapper .li-relative .li-img {
    /* position: absolute; */
    flex: 1;
    /* left: 0; */
    /* bottom: 0; */
    /* width: 75%; */
    width: 100%;
    border: 1px solid #fff;
  }
  .fun-wrapper .li-relative .li-content {
    /* position: absolute; */
    flex: 1;
    padding: 0 2%;
    width: 45%;
    /* height: 50%; */
    /* right: 0; */
    /* bottom: 1%; */
    /* border: 1px solid #000; */
    background-image: linear-gradient(0deg, #2f3144 0%, #2c2e42 100%),
      linear-gradient(#32354c, #32354c);
    background-blend-mode: normal, normal;
    text-align: left;
  }
  .tr {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .tr {
    text-align: left;
  }
}
@media (max-width: 1200px) {
  .tr {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .tr {
    text-align: right;
  }
}
